ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

.container {
  width: 1060px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 5px solid red;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 24px;
  width: 100%;
  z-index: 10;
}

.header__btn {
  margin-left: 12px;
  margin-right: 12px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: #FFFFFF;
}

.hero {
  background-image: url(../../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 290px;
  position: relative;
  overflow: hidden;
}

.avatar {
  position: absolute;
  top: 90px;
  right: 0;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 263px;
  margin-bottom: 40px;
}

.hero__text {
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
}

.hero__btn {
  display: block;
  font-family: "HeadlandOne";
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  color: #26C7EA;
  background: #0B0E66;
  border: 3px solid #26C7EA;
  border-radius: 45px 0px;
  padding: 25px 20px 25px 20px;
}

.quote {
  padding-top: 78px;
  padding-bottom: 42px;
  text-align: center;
}

.quote__title {
  font-size: 36px;
  line-height: 1.22;
  color: #0A3853;
  margin-bottom: 16px;
}

.quote__text {
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  margin-bottom: 8px;
}

.quote__icon {
  margin-left: auto;
  margin-right: auto;
}

.trailer {
  height: 700px;
  background-image: url(../../images/trailer-bg.png);
  padding-top: 310px;
}

.trailer__btn {
  display: block;
  font-family: "HeadlandOne";
  font-size: 24px;
  line-height: 1.25;
  text-align: justify;
  color: #26C7EA;
  background: #0B0E66;
  border: 3px solid #26C7EA;
  border-radius: 45px 0px;
  padding: 25px 20px 25px 20px;
  margin-left: auto;
  margin-right: auto;
}

.language {
  height: 664px;
  background-image: url(../../images/language-bg.jpg);
  padding-top: 30px;
  padding-bottom: 40px;
}

.language__title {
  font-family: "HeadlandOne";
  font-weight: "Regular";
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: #1f2426;
  margin-bottom: 47px;
}

.language-list {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.language-list__item {
  width: 320px;
  background: rgba(255, 255, 255, 0.7);
  padding: 36px 29px;
}

.language-list__icon {
  margin-top: 40px;
  margin-bottom: 40px;
}

.language-list__text {
  font-family: "HeadlandOne";
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.language-list__icon {
  margin-left: auto;
  margin-right: auto;
}

footer {
  height: 268px;
  background-image: url(../../images/footer-bg.webp);
}/*# sourceMappingURL=main.css.map */