ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

.container {
  width: 1060px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 24px;
  width: 100%;
  z-index: 10;
}

.eng {
  margin-right: 60px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: #FFFFFF;
}

.hero {
  background-image: url(../../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 290px;
  padding-bottom: 43px;
  position: relative;
  overflow: hidden;
  max-width: 1360px;
  height: 700px;
}

.avatar {
  position: absolute;
  top: 90px;
  right: 250px;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 263px;
  margin-bottom: 40px;
}

.hero__text {
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
}

.hero__btn {
  display: block;
  font-family: "HeadlandOne";
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  color: #26C7EA;
  background: #0B0E66;
  border: 3px solid #26C7EA;
  border-radius: 45px 0px;
  padding: 25px 20px 25px 20px;
}

.hero-pages {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 224px;
  right: 164px;
  gap: 24px;
}

.hero-pages__icon {
  fill: white;
}

.modal {
  width: 600px;
  position: fixed;
  padding-top: 113px;
  padding-bottom: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-image: url(../../images/modal-bg1.png);
  background-size: cover;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.modal-list__text {
  font-size: 24px;
  line-height: 1.25;
  text-align: justify;
  color: #0b0e66;
  margin-bottom: 2px;
  display: block;
}

.modal-list__filling {
  background: #ffffff;
  border: 2px solid #0b0e66;
  width: 440px;
  height: 40px;
}

.modal__btn {
  display: block;
  font-family: "HeadlandOne";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #26c7ea;
  margin-right: auto;
  margin-left: auto;
  background: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 45px 0px;
  padding: 10px 30px;
  width: 260px;
}

.modal-gratitude {
  width: 600px;
  background-image: url(../../images/modal-bg2.png);
  padding-top: 50px;
  padding-bottom: 184px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: fixed;
  background-size: cover;
}

.modal-gratitude__greeting {
  font-family: "HeadlandOne";
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.modal-gratitude__text {
  display: flex;
  font-family: "HeadlandOne";
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  width: 375px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.modal-trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  padding-top: 78px;
  padding-bottom: 42px;
  text-align: center;
}

.quote__title {
  font-size: 36px;
  line-height: 1.22;
  color: #0A3853;
  margin-bottom: 16px;
}

.quote__text {
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  margin-bottom: 8px;
}

.quote__icon {
  margin-left: auto;
  margin-right: auto;
}

.trailer {
  height: 700px;
  background-image: url(../../images/trailer-bg.png);
  padding-top: 310px;
}

.trailer__btn {
  display: block;
  font-family: "HeadlandOne";
  font-size: 24px;
  line-height: 1.25;
  text-align: justify;
  color: #26C7EA;
  background: #0B0E66;
  border: 3px solid #26C7EA;
  border-radius: 45px 0px;
  padding: 25px 20px 25px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.language {
  height: 664px;
  background-image: url(../../images/language-bg.jpg);
  padding-top: 30px;
  padding-bottom: 40px;
}

.language__title {
  font-family: "HeadlandOne";
  font-weight: "Regular";
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: #1f2426;
  margin-bottom: 47px;
}

.language-list {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.language-list__item {
  width: 320px;
  background: rgba(255, 255, 255, 0.7);
  padding: 36px 29px;
}

.language-list__icon {
  margin-top: 40px;
  margin-bottom: 40px;
}

.language-list__text {
  font-family: "HeadlandOne";
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.language-list__icon {
  margin-left: auto;
  margin-right: auto;
}

footer {
  height: 268px;
  background-image: url(../../images/footer-bg.webp);
}/*# sourceMappingURL=main.css.map */