body {
    font-family: "Inter";
    font-weight: 400;
}

.container {
    width: 1060px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
        outline: 5px solid red;
}